<div>
  <nav class="navbar navbar-expand navbar-dark topnav">
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link">USER DETAILS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">ADD USER</a>
      </li>
      <li class="nav-item">
        <a routerLink="tutorials" class="nav-link">CHANGE ROLE</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">DELETE USER</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">REPORT</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
