<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
  <body>
  <div class="list row">
  
  <div class="col-md-6">
    <table class="table">
      <tr class="header">
        <th>USERNAME</th>
        <th>ROLE</th>
        <th></th>
      </tr>
      <ng-container *ngFor="let tutorial of tutorials">
        <tr>
          <td>{{ tutorial.username }}</td>
          <td>{{ tutorial.role }}</td>
          <td><button class="btn btn-info popover__wrapper" (click)="deleteUser(tutorial.username)">DELETE</button></td>
        </tr>
    </ng-container>
 </table>

  </div>
</div>
  <div class="popover__content" id="popup">
    <p class="popover__message">Choose new role</p>
   <select [(ngModel)]="chosenRole">
     <option *ngFor="let option of options" value="{{option.id}}">{{option.role}}</option>
   </select><br>
   <button (click)="onRoleChange()">Change</button>
  </div>


<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form class="modal-content" action="/action_page.php">
    <div class="container">
      <h4>Delete Account</h4>
      <p>Are you sure you want to delete your account?</p>

      <div class="clearfix">
        <button type="button" style="margin-right: 20px !important;" class="cancelbtn" (click)="cancelDelete()">Cancel</button>
        <button type="button" class="deletebtn" (click)="confirmDelete()">Delete</button>
      </div>
    </div>
  </form>
</div>

<div id="snackbarSuccess">{{toasterMessage}}</div>
<div id="snackbarError">{{toasterMessage}}</div>

</body>